.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #c0c4cc;
  padding: 1.25rem 0;
}

.searchInput {
  padding: 0.625rem 0.625rem;
  border: 1px solid #c0c4cc;
  border-radius: 2px;
  background: url(../../images/search-icon.svg) no-repeat scroll 10px 10px;
  padding-left: 34px;
  outline: none;
}
